@charset "utf-8";
/* CSS Document */

/* reset */
*{margin:0;padding:0}html{color:#000;overflow-x:auto!important;overflow-x:hidden;overflow-y:auto}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000;}del,ins{text-decoration:none}p{ margin:0; padding:0}img {-ms-interpolation-mode: bicubic;}
a { text-decoration:none; color:#000 }
html, body{ width:100%; height:100%; overflow:hidden; font-size:12px;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl{zoom:1;}
.l{ float:left; display:inline}
.r{ float:right; display:inline}
* { -webkit-tap-highlight-color:rgba(0, 0, 0, 0) }
a{ outline:none;tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);}
body { -webkit-text-size-adjust:none; font-size:14px;font-family:arial,Tahoma,微软雅黑,宋体;  color:#fff; overflow:hidden; -webkit-appearance:none; background:#fff; position:relative }
h1 { display:none}
.img img{ width: 100%;}

a.music{ width: 3rem; height: 3rem; background: #fff; border-radius: 1.5rem; display: block; position: absolute; right: 2rem; top:2rem; z-index: 1001; }
a.music img{ width: 2.4rem; height: 2.4rem; padding: 0.3rem; display: block;}
a.music img.active{animation:rotateyy 3s linear infinite;-webkit-animation:rotateyy 3s linear infinite;animation-delay:1s;-webkit-animation-delay:1s;}

#loading{ width:100%; height:100%; background:#393939; position:relative; z-index:9998}
#loading .loadshow{ width:135px; height: 6rem;  position: absolute; left: 50%; margin-left: -80px; margin-top: -2.5rem; top:50%; overflow: hidden; }
#loading .loadshow .loadimg{  height: 3rem; display: block; overflow: hidden; position: relative; }
#loading .loadshow .loadimg img{ width:30px; display: block;  position: absolute;  top:0; display: none;}
#loading .loadshow .loadimg img.load_1{ left:0; }
#loading .loadshow .loadimg img.load_2{ left:15px; }
#loading .loadshow .loadimg img.load_3{ left:30px; }
#loading .loadshow .loadimg img.load_4{ left:45px; }
#loading .loadshow .loadimg img.load_5{ left:60px; }
#loading .loadshow .loadimg img.load_6{ left:75px; }
#loading .loadshow .loadimg img.load_7{ left:90px; }
#loading .loadshow .loadimg img.load_8{ left:105px; }


#loading span{ position: relative;  width: 100%; font-size: 1.2rem;  height: 2rem; line-height: 2rem; display: block; color:#fff; text-align: center;}

.indexshowpage{width:100%; height:100%; background:#c7eaea;  position:relative; z-index: 999 }
.indexshowpage img.indexbg{width:100%; height: 100%;  position: absolute; left: 0%; top:0%;}
.indexshowpage .slogan{width:60%;position: absolute; left: 20%; top:100%; z-index: 1100;   opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 2s;}
.indexshowpage .logo{ width: 18%; position: absolute; left: 41%; bottom: 30%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s; }

.indexshowpage .sjx_1{width:24.06%;position: absolute; left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.5s;}

.indexshowpage .sjx_2{width:21.4%;position: absolute; left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.6s;}

.indexshowpage .sjx_3{width:20.9%;position: absolute; left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.7s;}

.indexshowpage .sjx_4{width:21.4%;position: absolute; left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.8s;}

.indexshowpage .sjx_5{width:13.75%;position: absolute;left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.9s;}

.indexshowpage .sjx_6{width:17.34%;position: absolute;left: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 1s;}

.indexshowpage .sjx_7{width:13.59%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.6s;}

.indexshowpage .sjx_8{width:13.75%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.8s;}

.indexshowpage .sjx_9{width:20%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 0.9s;}

.indexshowpage .sjx_10{width:21.4%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 1s;}

.indexshowpage .sjx_11{width:21.09%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 1.1s;}

.indexshowpage .sjx_12{width:24.37%;position: absolute; right: 50%; top:100%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay: 1.2s;}





.indexshowpage.active .slogan{ top:21%;opacity: 1;}
.indexshowpage.active .logo{opacity: 1;}
.indexshowpage.active .sjx_1{ opacity: 1;left: 0%; top:1%;}
.indexshowpage.active .sjx_2{ opacity: 1;left: 15%; top:22.15%;}
.indexshowpage.active .sjx_3{ opacity: 1;left: 0%; top:29.38%;}
.indexshowpage.active .sjx_4{ opacity: 1;left: 3.28%; top:26.13%;}
.indexshowpage.active .sjx_5{ opacity: 1;left: 10.15%; top:51.64%;}
.indexshowpage.active .sjx_6{ opacity: 1;left: 0%; top:66.28%;}

.indexshowpage.active .sjx_7{ opacity: 1;right: 0%; top:23.89%;}
.indexshowpage.active .sjx_8{ opacity: 1;right: 4.06%; top:33.52%;}
.indexshowpage.active .sjx_9{ opacity: 1;right: 0%; top:44.12%;}
.indexshowpage.active .sjx_10{ opacity: 1;right: 14.37%; top:51.25%;}
.indexshowpage.active .sjx_11{ opacity: 1;right: 4.5%;; top:63.71%;}
.indexshowpage.active .sjx_12{ opacity: 1;right: 0%; top:71.4%;}




.dzbtn{ width: 32%; height: 0; z-index: 1001; overflow: hidden; position: absolute; left: 34%; bottom: 22%;opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;transition-delay:3.3s; }
.dzbtn img{ height: 100% }
.dzbtn.active {height:3rem;bottom: 25%; opacity: 1;}

.sjx_animate{animation:fadeIn 3s infinite;-webkit-animation:fadeIn 3s infinite;}



.all{width:100%; height:100%;  position: absolute; left:0; top:0; overflow:hidden;z-index: 90; background:#c7eaea; border-top: #b49b76 7px solid;  }    
.all .ropelist{  width: 100%;height: 100%; position: relative; left: 0; top:0; z-index: 99; }
.all .ropelist .swiper-slide {text-align: center;
        /* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;
-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.all .ropelist .rope{ height: 100%; position: relative; float:  left; display: inline; }
.all .ropelist .rope .ropetype{ position: absolute; left: 14%; top:38%; width:72%; opacity: 0;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;}
.all .ropelist .rope .xzbtn{ width:30%; position: absolute; left: 35%; bottom: 20%;opacity: 0; -webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s; transition-delay:1s;   }
.all .ropelist .rope em{ width:100%; position: absolute; left: 0%; bottom: 40%; color:#000; opacity: 0; -webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s;  }
.all .ropelist .swiper-pagination-rope{ position: absolute; left:0; bottom:30%; width: 100%;display: block; text-align: center; }
.all .ropelist .swiper-pagination-rope span.swiper-pagination-bullet{ opacity: 1; background: #fff; }
.all .ropelist .swiper-pagination-rope span.swiper-pagination-bullet-active{ background: #b6b6b6; }
.all .ropelist .swiper-button-prev{ background:url(../images/leftarr.png) left center no-repeat; top:45%; }
.all .ropelist .swiper-button-next{ background:url(../images/rightarr.png) right center no-repeat; top:45%; }
.all .ropelist .rope.swiper-slide-active .ropetype{opacity: 1;}
.all .ropelist .rope.swiper-slide-active em{opacity: 1;}
.all .ropelist .rope.swiper-slide-active .xzbtn{opacity: 1;}
.all img.ropebg{width:100%;  position: absolute; left: 0%; top:0%;}
.all p.tips{ width: 100%; position: absolute; left: 0%;bottom: 34%; text-align: center; z-index: 26; color:#3e3a39; }



.chosexlpage{ width: 100%; height: 84%; background:#c7eaea; border-top: #b49b76 7px solid; position: relative; z-index: 80 ; }
.chosexlpage a.returnbtn{ width: 9%; position: absolute; left:5%; top:2rem; z-index: 85 }
.chosexlpage .xlshow_bg{ position: absolute; left: 0; top:0;width: 100%; display: block;z-index: 83 }

.chosexlpage  img.bg{ width: 100%; display: block; }
.chosexlpage .xlchose{ position: absolute; left: 0%;  top:22%; padding-top: 2%;  width: 100% ;height: 30% }
.chosexlpage .xlchose .line1{ position: absolute; left:5%; top:0; width: 100%;  }
.chosexlpage .xlchose .line2{ position: absolute; left:19%; top:27%;  width: 100% }
.chosexlpage .xlchose a{ width: 21%; margin-right:7% ; margin-bottom: 1rem; float: left; display: inline; position: relative; z-index: 2}
.chosexlpage .xlchose a img{ width: 100%; display: block; }
.chosexlpage .xlchose a span{ display: none; text-align: center; line-height: 2rem; font-size: 1rem; }

.yx { position: absolute; right: 0; top:8%; }
.yx a.selectedbtn{ width: 2rem; text-align: center; padding: 1rem 0.5rem; border-top-left-radius: 5px; border-bottom-left-radius: 5px; float: left; display: inline; background: #e26969; color:#fff; }
.yx .selectedlist { width: 3rem; padding:0 1rem 1rem 1rem; float: left; display: inline; position: relative; display: none;  }
.yx .selectedlist img{ width:2rem; margin-top: 1rem;  display: block; position: relative; z-index: 82; padding: 0.5rem; background: #fff; border-radius: 5px; }
.yx .selectedlist span.sbg{ width: 100%; height: 100%; display: block;background: #000;border-bottom-left-radius: 5px; opacity: 0.3; position: absolute; left:0; top:0; z-index: 81 }


.lighto_animate{animation:lighto 3s infinite;-webkit-animation:lighto 3s infinite;}

@-webkit-keyframes lighto {
  0% {
    opacity: 1;
    box-shadow:inset  0px 0px 12px #f00
  }
  50% {
    opacity: 0.7;
   box-shadow:inset  0px 0px 12px #fff
  }
  100% {
    opacity: 1;
    box-shadow:inset  0px 0px 12px #f00
  }
}

@keyframes lighto {
   0% {
    opacity: 1;
    box-shadow:inset  0px 0px 12px #f00
  }
  50% {
    opacity: 0.7;
   box-shadow:inset  0px 0px 12px #fff
  }
  100% {
    opacity: 1;
    box-shadow:inset  0px 0px 12px #f00
  }
}

.lighto {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.chosexlpage .selecttips{ width: 100%; position: absolute; left: 0%; top:76%; text-align: center; color:#727171; }

.chosexlpage .bottomline{ width: 100%; position: absolute; left: 0; bottom: 0; }
.chosexlpage .btns{ width: 66%; position: absolute; left: 17%; bottom:6%; z-index: 84  }
.chosexlpage .btns a{ width: 45%; float: left; display: inline; }
.chosexlpage .btns a img{ width: 100%; display: block; }
.chosexlpage .btns a span{ display: none; }
.chosexlpage .btns a.qrtj{ float: right; }

.chosexlpage .bijoulist{position: absolute; left: 0%;  top:32%; width: 100%;  background: #efefef;  z-index: -1; padding: 1rem 0%;  }
.chosexlpage .bijoulist a.close{position: absolute; right: 1rem; top:-2rem; width: 2rem; height: 2rem; border-radius: 2rem; background:url(../images/close.png) center no-repeat #e55c5c; background-size: 100%; }
.chosexlpage .bijoulist .swiper-container { width: 90%; position: relative;  }
.chosexlpage .bijoulist  .swiper-slide {
        text-align: center;    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.chosexlpage .bijoulist a{ display: block;padding: 5px; border-radius:5px ;background: #fff;}
.chosexlpage .bijoulist a img{ width: 100%; display: block;  }


.chosexlpage .swiper-button-prev{width: 27px; height: 115%; background:url(../images/leftarr.png)  center no-repeat #ffd8d9; background-size:  13px 24px  ; left:-27px;top:1.5rem;}
.chosexlpage .swiper-button-next{ width: 27px; height: 115%; background:url(../images/rightarr.png)  center no-repeat #ffd8d9; background-size: 13px 24px ; right:-27px; top:1.5rem;}
.chosexlpage .swiper-wrapper{ padding: 0 0;}
/*****通用*****/
#bijoushow{  position: absolute;  z-index: 85}
.positionnormal{width: 72%;left: 14%; top:42%; }
.positionselect{width: 72%;left: 14%; top:30%; }
#bijoushow img.ropetype{ width: 100%; }
#bijoushow img.bijouimg{ width: 24%; position: absolute; margin:0 0 0 -12%; z-index: 87 }
#bijoushow img[bijoutype=type_2]{ margin-top: 2.5%; }
#bijoushow img[bijoutype=type_1]{width: 18%; position: absolute; margin:0 0 0 -9%;}
#bijoushow img.gezhu{width: 7%; position: absolute; margin:0 0 0 -3.5%; z-index: 86}


.logobottom{ width: 100%; position: absolute; left: 0%; bottom: 0%;opacity:1; height: 16%; background: #fff;  z-index: 3000 }
.logobottom .logo{ width: 18%; position: absolute; left: 41%; bottom: 30%;opacity: 1;-webkit-transition: all 0.8s;-moz-transition: all 0.8s; transition: all 0.8s; }

.selectpage { width: 100%; height: 84%; background:#c7eaea; border-top: #b49b76 7px solid; position: relative; z-index: 70 ;  }
.selectpage img.bg{ width: 100%; display: block; }
.selectshow{background: #9edadb; padding: 2rem 0 3rem;width: 100%; position: absolute; left: 0; bottom:0; z-index: 99;}
.selectpage .swiper-container-style{ position:relative; width: 90%; height: 100%; margin-left: 5%;   }
.selectpage .swiper-wrapper{ }
.selectpage .swiper-container-style .swiper-slide {text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;
-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.selectpage .swiper-container-style a{  position: relative; float:  left; display: inline; }
.selectpage .swiper-pagination-style{ position: absolute; left:0; bottom:30%; width: 100%;display: block; text-align: center; }
.selectpage .swiper-pagination-style span.swiper-pagination-bullet{ opacity: 1; background: #fff; }
.selectpage .swiper-pagination-style span.swiper-pagination-bullet-active{ background: #b6b6b6; }
.selectpage .swiper-button-prevs{width: 27px; height: 115%;  background:url(../images/leftarr.png)  center no-repeat #9edadb; background-size:  13px 24px ; z-index: 13; position: absolute; left:-27px;top:0; }
.selectpage .swiper-button-nexts{ width: 27px; height: 115%; background:url(../images/rightarr.png)  center no-repeat #9edadb; background-size:  13px 24px ;  z-index: 13;position: absolute; right:-27px;top:0;}
.selectshow p.selecttips{ position: absolute; left: 0; bottom: 0; width: 100%;  line-height: 3rem;  text-align: center; display: block; color:#727171; }
.selectpage textarea.usertext{  position: absolute; left: 20%; top: 58%; border: none; background:none; text-align: center; font-size: 1.2rem; width: 60%;  line-height: 1.8rem;  }


.selectpage a.tjbtn{ width: 26%;  position: absolute; left: 37%; bottom:27%; display: none  }
.selectpage a.tjbtn img{ width: 100%; display: block; }
.selectpage a.tjbtn span{ display: none; }


.selectpage .selectbg{ position: absolute; left: 0; top:0; width: 100%;  }
.selectpage .selectbg img{ width: 100% }

#xlshow_1 .bijoulist{ background: #ffd8d9;  }
#xlshow_1 .bijoulist a.checked{ background: #f85986; }
#xlshow_1 .swiper-button-prev{ background-color: #ffd8d9; }
#xlshow_1 .swiper-button-next{ background-color: #ffd8d9; }

#xlshow_2 .bijoulist{ background: #aec3e3;  }
#xlshow_2 .bijoulist a.checked{ background: #69a2d2; }
#xlshow_2 .swiper-button-prev{ background-color: #aec3e3; }
#xlshow_2 .swiper-button-next{ background-color: #aec3e3; }


#xlshow_3 .bijoulist{ background: #fbc8d9;  }
#xlshow_3 .bijoulist a.checked{ background: #e371a0; }
#xlshow_3 .swiper-button-prev{ background-color: #fbc8d9; }
#xlshow_3 .swiper-button-next{ background-color: #fbc8d9; }


#xlshow_4 .bijoulist{ background: #87d3b0;  }
#xlshow_4 .bijoulist a.checked{ background: #0c8752; }
#xlshow_4 .swiper-button-prev{ background-color: #87d3b0; }
#xlshow_4 .swiper-button-next{ background-color: #87d3b0; }


#xlshow_5 .bijoulist{ background: #ffb4b4;  }
#xlshow_5 .bijoulist a.checked{ background: #f56767; }
#xlshow_5 .swiper-button-prev{ background-color: #ffb4b4; }
#xlshow_5 .swiper-button-next{ background-color: #ffb4b4; }


#xlshow_6 .bijoulist{ background: #a7e6ee;  }
#xlshow_6 .bijoulist a.checked{ background: #4d9ed0; }
#xlshow_6 .swiper-button-prev{ background-color: #a7e6ee; }
#xlshow_6 .swiper-button-next{ background-color: #a7e6ee; }

#xlshow_7 .bijoulist{ background: #ffd8d9;  }
#xlshow_7 .bijoulist a.checked{ background: #f85986; }
#xlshow_7 .swiper-button-prev{ background-color: #ffd8d9; }
#xlshow_7 .swiper-button-next{ background-color: #ffd8d9; }

#xlshow_8 .bijoulist{ background: #aec3e3;  }
#xlshow_8 .bijoulist a.checked{ background: #69a2d2; }
#xlshow_8 .swiper-button-prev{ background-color: #aec3e3; }
#xlshow_8 .swiper-button-next{ background-color: #aec3e3; }


#xlshow_9 .bijoulist{ background: #fbc8d9;  }
#xlshow_9 .bijoulist a.checked{ background: #e371a0; }
#xlshow_9 .swiper-button-prev{ background-color: #fbc8d9; }
#xlshow_9 .swiper-button-next{ background-color: #fbc8d9; }


#xlshow_10 .bijoulist{ background: #87d3b0;  }
#xlshow_10 .bijoulist a.checked{ background: #0c8752; }
#xlshow_10 .swiper-button-prev{ background-color: #87d3b0; }
#xlshow_10 .swiper-button-next{ background-color: #87d3b0; }


#xlshow_11 .bijoulist{ background: #ffb4b4;  }
#xlshow_11 .bijoulist a.checked{ background: #f56767; }
#xlshow_11 .swiper-button-prev{ background-color: #ffb4b4; }
#xlshow_11 .swiper-button-next{ background-color: #ffb4b4; }


#xlshow_12 .bijoulist{ background: #a7e6ee;  }
#xlshow_12 .bijoulist a.checked{ background: #4d9ed0; }
#xlshow_12 .swiper-button-prev{ background-color: #a7e6ee; }
#xlshow_12 .swiper-button-next{ background-color: #a7e6ee; }


#xlshow_13 .bijoulist{ background: #ffd8d9;  }
#xlshow_13 .bijoulist a.checked{ background: #f85986; }
#xlshow_13 .swiper-button-prev{ background-color: #ffd8d9; }
#xlshow_13 .swiper-button-next{ background-color: #ffd8d9; }

#xlshow_14 .bijoulist{ background: #aec3e3;  }
#xlshow_14 .bijoulist a.checked{ background: #69a2d2; }
#xlshow_14 .swiper-button-prev{ background-color: #aec3e3; }
#xlshow_14 .swiper-button-next{ background-color: #aec3e3; }


#xlshow_15 .bijoulist{ background: #fbc8d9;  }
#xlshow_15 .bijoulist a.checked{ background: #e371a0; }
#xlshow_15 .swiper-button-prev{ background-color: #fbc8d9; }
#xlshow_15 .swiper-button-next{ background-color: #fbc8d9; }


#xlshow_16 .bijoulist{ background: #87d3b0;  }
#xlshow_16 .bijoulist a.checked{ background: #0c8752; }
#xlshow_16 .swiper-button-prev{ background-color: #87d3b0; }
#xlshow_16 .swiper-button-next{ background-color: #87d3b0; }


#xlshow_17 .bijoulist{ background: #ffb4b4;  }
#xlshow_17 .bijoulist a.checked{ background: #f56767; }
#xlshow_17 .swiper-button-prev{ background-color: #ffb4b4; }
#xlshow_17 .swiper-button-next{ background-color: #ffb4b4; }


#xlshow_18 .bijoulist{ background: #a7e6ee;  }
#xlshow_18 .bijoulist a.checked{ background: #4d9ed0; }
#xlshow_18 .swiper-button-prev{ background-color: #a7e6ee; }
#xlshow_18 .swiper-button-next{ background-color: #a7e6ee; }

#styles_1 .selectshow{ background: #ffd8d9; }
#styles_1 .swiper-button-prevs{ background-color: #ffd8d9; }
#styles_1 .swiper-button-nexts{ background-color: #ffd8d9; }
#styles_1 textarea.usertext{ color:#e65e81; }

#styles_2 .selectshow{ background: #aec3e3; }
#styles_2 .swiper-button-prevs{ background-color: #aec3e3; }
#styles_2 .swiper-button-nexts{ background-color: #aec3e3; }
#styles_2 textarea.usertext{ color:#693b87; }

#styles_3 .selectshow{ background: #fbc8d9; }
#styles_3 .swiper-button-prevs{ background-color: #fbc8d9; }
#styles_3 .swiper-button-nexts{ background-color: #fbc8d9; }
#styles_3 textarea.usertext{ color:#e26969; }

#styles_4 .selectshow{ background: #87d3b0; }
#styles_4 .swiper-button-prevs{ background-color: #87d3b0; }
#styles_4 .swiper-button-nexts{ background-color: #87d3b0; }
#styles_4 textarea.usertext{ color:#2eac75; }

#styles_5 .selectshow{ background: #ffb4b4; }
#styles_5 .swiper-button-prevs{ background-color: #ffb4b4; }
#styles_5 .swiper-button-nexts{ background-color: #ffb4b4; }
#styles_5 textarea.usertext{ color:#692c07; }

#styles_6 .selectshow{ background: #a7e6ee; }
#styles_6 .swiper-button-prevs{ background-color: #a7e6ee; }
#styles_6 .swiper-button-nexts{ background-color: #a7e6ee; }
#styles_6 textarea.usertext{ color:#4d9ed0; }

.endshow{ width: 100%; height: 84%; background: #fff; border-top: #b49b76 7px solid; display: none}
.endshow .selectbg{ width: 100% }
.endshow a.sharebtn{ width:30%; position: absolute; left: 13%; bottom: 21%;}
.endshow a.sharebtn2{ width:30%; position: absolute; left: 35%; bottom: 21%; }
.endshow a.ddpbtn{ width:30%; position: absolute; left: 13%; bottom: 21%;display: none; }
.endshow a.discountbtn{ width:30%; position: absolute; right: 13%;bottom: 21%; }
.endshow p.text{ position: absolute; left: 20%; top: 51%; width: 60%; text-align: center; font-size: 1.5rem;}
.endshow p.style_1{color:#e65e81; }
.endshow p.style_2{color:#693b87; }
.endshow p.style_3{color:#e26969; }
.endshow p.style_4{color:#2eac75; }
.endshow p.style_5{color:#692c07; }
.endshow p.style_6{color:#4d9ed0; }
.endshow img.endslogan{ width: 30%; position: absolute; left: 35%; bottom:34%; }




.tankuang{ width:100%; height: 100%; display: block; position: absolute; left: 0; top:0; z-index: 9980}
.tankuang .blackbg{ width: 100%; height: 100%; display: block; position: relative; background: #000; opacity: 0.8; }
.sharebox{width: 100%;height: 100%;  display: block;  z-index: 9990 }
.sharebox .con{ width: 90%; position: absolute; left: 5%; top:10%; z-index: 101; }
.sharebox img.bg{width: 100%; position: relative; }

.infobox{width: 100%;height: 100%;  display: block; z-index: 8030; }
.infobox .con{ width: 100%; position: absolute; left: 0%; top:28%; z-index: 1010 }
.infobox .con a.close{ width: 3rem; height: 3rem; display: block; position: absolute; right: 0.5rem; top:0.5rem; z-index: 1020 }
.infobox img.bg{width: 100%; position: relative;  z-index: 1010;}

.discountbox{width: 100%;height: 100%;  display: block; z-index: 1000; }
.discountbox .con{ width: 90%; position: absolute; left: 5%; top:18%; z-index: 1010 }
.discountbox .con a.close{ width: 3rem; height: 3rem; display: block; position: absolute; right: 0.5rem; top:0.5rem; z-index: 1020 }
.discountbox img.bg{width: 100%; position: relative;  z-index: 1010;}



.tktips{width: 100%;height: 100%;  display: block; z-index: 8030; }
.tktips .con{ width: 100%; position: absolute; left: 0%; top:18%; z-index: 1010 }
.tktips .con a.close{ width: 3rem; height: 3rem; display: block; position: absolute; right: 0.5rem; top:0.5rem; z-index: 1020 }
.tktips img.bg{width: 100%; position: relative;  z-index: 1010;}

.texttips{width: 100%;height: 100%;  display: block; z-index: 8030; }
.texttips .con{ width: 50%; position: absolute; left: 25%; top:31%; z-index: 1010; opacity: 0.8 }
.texttips .con a.close{ width: 3rem; height: 3rem; display: block; position: absolute; right: 0.5rem; top:0.5rem; z-index: 1020 }
.texttips img.bg{width: 100%; position: relative;  z-index: 1010;}